.category-body{
	width: 100%;
	height: auto !important;
	_height: 300px; /*假定最低高度是200px*/
	min-height: 300px;
}
.category-body-middle {
	width: 682px;
	float: left;
	text-align: left;
	margin-top:20px;
	border: 1px silver solid;
}

.category-body-middle-top {
	border-bottom: 1px silver solid;
	margin-bottom:20px;
	text-align: left;
	width: 662px;
	padding-left:20px;
	height: 24px;
	line-height: 24px;
	float: left;
	background-color: #F5F5F5;
	font-size: 13px;
}
.category-body-middle-content {
	padding-left: 10px;
	float: left;
	font-size: 14px;
	line-height: 24px;
	height:432px;
	margin-bottom: 20px;
}
.category-body-middle-content ul li{
	min-width: 500px;
}
.category-body-middle-bottom{
	padding-top:3px;
	border-top: 1px silver solid;
	text-align: left;
	width: 682px;
	height: 24px;
	line-height: 24px;
	float: left;
	background-color: #F5F5F5;
}
.category-body-right{
	float: left;
	margin-left:18px;
	margin-top:20px;
	width: 320px;
	text-align: left;
	border: 1px silver solid;
}
.category-body-right-title{
	font-size: 14px;
	background-color: #F5F5F5;
	padding-left:20px;
	text-align: left;
	height: 24px;
	line-height: 24px;
	border-bottom: 1px silver solid;
}
.category-body-right-list{
	margin-top:10px;
	margin-bottom:10px;
}
.category-body-right-list ul {
	list-style: none;
	margin: 0px;
	padding: 0;
}

.category-body-right-list ul li {
	padding-left: 10px;
	height: 24px;
	font-size: 13px;
	line-height: 24px;
	text-align: left;
}