

a {
	color: #0287CA;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul,li {
	list-style: none;
}

fieldset,img {
	border: none;
}

legend {
	display: none;
}

em,strong,cite,th {
	font-style: normal;
	font-weight: normal;
}

input,textarea,select,button {
	font: 12px Helvetica, Arial, sans-serif;
}

table {
	/* border-collapse: collapse; */
}

html {
	overflow: -moz-scrollbars-vertical;
}

#ifocus {
	margin-top:4px;
	width: 410px;
	height: 230px;
	/* border: 1px solid #DEDEDE; */
}

#ifocus_pic {
	display: inline;
	position: relative;
	float: left;
	width: 350px;
	height: 225px;
	overflow: hidden;
	margin: 0px;
}

#ifocus_piclist {
	position: absolute;
}

#ifocus_piclist li {
	width: 350px;
	height: 225px;
	overflow: hidden;
}

#ifocus_piclist img {
	width: 350px;
	height: 225px;
}

#ifocus_btn {
	display: inline;
	float: left;
	margin-right:4px;
	margin-top:10px;
	width: 50px;
}

#ifocus_btn li {
	width: 50px;
	height: 57px;
	cursor: pointer;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity = 50);
}

#ifocus_btn img {
	width: 40px;
	height: 30px;
	margin: 0px;
	border: 1px solid blue;
}

#ifocus_btn .current {
	background: url(i/ifocus_btn_bg.gif) no-repeat;
	opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity = 100);
}

#ifocus_opdiv {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 350px;
	height: 35px;
	background: #000;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter: alpha(opacity = 50);
}

#ifocus_tx {
	position: absolute;
	left: 8px;
	bottom: 8px;
	color: #FFF;
}

#ifocus_tx .normal {
	display: none;
}