* {
	margin: 0;
	padding: 0;
	word-break: break-all;
}
html,body {
	width: 1024px;
	text-align: center;
	margin: 0px auto;
	padding: 0px;
	border: none;
	height:100%;
	
}
 ul{
	list-style: none;
	margin: 0px;
	padding: 0;
}
a:link {
	color: black;
	text-decoration: none;
}

 a:visited {
	color: black;
	text-decoration: none;
}

 a:hover {
	color: blue;
	font-weight: bold;
}

 a {
	height: 30px;
}
